<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

  <form name="form" #f="ngForm" >

  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
    <div class="col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md text-white mr-2">Reports</span>

        <div class="row ">
          <div class="col-md-3 form-group">
            <label>Select Report:</label>
            <div class="input-group">
                <select class="form-control"  (change)="OnChange($event.target.value)" name="reportval" [(ngModel)]="reportarray" required>
                  <option hidden value="selectreport" disabled >Select Report Category </option>
                  <option *ngFor="let item of reportlist" [value]="item.id"  >{{item.view_name_show}}</option>
                </select>
            </div>
          </div>
        </div>
  <div *ngIf="show!=1" >
          <div class="col-md-3 form-group">
            <label>From Date:</label>
            <div class="input-group">
                <input  class="form-control" placeholder="FROM DATE"
                       name="dp" [(ngModel)]="fromdate" [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'  ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
            </div>
          </div>
          <div class="col-md-3 form-group">
              <label>To Date:</label>
              <div class="input-group">
                  <input  class="form-control" placeholder="TO DATE"
                         name="dp" [(ngModel)]="todate" [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'  bsDaterangepicker
                          ngbDatepicker #do="ngbDatepicker" (click)="do.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="do.toggle()"  type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
          </div>
</div>
<div *ngIf="show==1">
    <div class="row ">
        <div class="col-md-3 form-group">
            <select class="form-control"   [(ngModel)]="selectyear" name="yearname">
            <option class="form-control" hidden value="fyear" disabled >Select Financial Year </option>
            <option *ngFor="let itemyear of fiancialyear"  [value]="itemyear.year" >{{itemyear.financial_YEAR}}</option>
          </select>
        </div>
    </div>
</div>
  <div class="col-md-3">
    <div>&nbsp;</div>
    <div class="col-md-12">
      <button  type="submit" class="btn btn-success" style="margin-top: 4.5%" (click)="finddata(datavalue,reportarray)" >Submit</button>
    </div>
  </div>
    </div>
  </div>
</div>
</form>
<div class="bg-black text-white" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
  <div class="col-12 mt-3 align-self-stretch">
    <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
      <span class="font-md text-white mr-2">CUSTOMER REPORT WIDGET</span>
      <a *ngIf="showExportButton==1" class="btn btn-sm btn-primary" style="cursor: pointer;margin-left: 750px;margin-bottom: 20px;margin-top: 20px;" id="downloadCSVBtn" href="{{downloadUrl}}" target="_blank" download>Export CSV</a>
      <div class="table-responsive-sm">

          <div *ngIf="this.repu ==3; else restOfTheTable">
              <table class="table table-sm table-hover" id="reportTable">
            <tr >
              <th *ngFor="let data of datastore">{{data}}</th>
            </tr>
            <tr *ngFor="let datas of fundingheader; index as index" id="{{index+1}}">
              <td *ngFor="let count of datas;index as i">{{datas[i]}}</td>
            </tr >
            </table>
          </div>

          <ng-template #restOfTheTable>
              <table class="table table-sm table-hover" id="reportTable">
                  <tr class="bg-black text-white">
                  <th *ngFor="let datas of datastore">{{datas}}</th>
                  </tr>

                  <tr *ngFor="let data of fundingheader;index as index" id="{{index+1}}" class="tableRow tableRow_{{index+1}}">
                    <td *ngFor="let count of data;index as i">{{data[i]}}</td>
                  </tr>
                </table>
          </ng-template>
       <!-- <span>{{datastore}}</span>-->
        <!-- <table class="table table-sm table-hover" id="reportTable">
          <tr class="bg-black text-white">
          <th *ngFor="let datas of datastore">{{datas}}</th>
          </tr>

          <tr>
            <td *ngFor="let data of fundingheader;index as index">{{data[1]}}</td>
          </tr>
        </table> -->
      </div>
      <div class="row mt-3">

        <div class="col-12 paginationButton text-right">
         <!--  <button *ngIf="showPrevButton==1" class="btn btn-sm btn-secondary mr-2 prev" (click)="showPreviousList()">Previous</button>
          <button *ngIf="showNextButton==1" class="btn btn-sm btn-secondary next" (click)="showNextList()">Next</button> -->
          <button  *ngIf="pagiLength>7" class="btn btn-sm btn-secondary ml-2" (click)="showPreviousList()">Prev</button>
          <button *ngFor="let item of pagiArr; index as i "  class="btn btn-sm btn-secondary ml-2" (click)="pagi(i+1)">{{i+1}}</button>
          <button  *ngIf="pagiLength>7" class="btn btn-sm btn-secondary ml-2" (click)="showNextList()">Next</button>
        </div>
      </div>
   </div>
 </div>

 <!-- pagenation start -->

<!-- pagenation end -->
</div>


<!-- excel -->
 <!-- <div class="row" style="margin-top: 3%" *ngIf="datastore != null">

      <div class="col-md-3   form-group" style="margin-left: 40%;">
        <label>Select </label>
        <div class="input-group" >
            <select class="form-control" [(ngModel)]="selectpdf" required>
              <option  hidden value="selectoption" disabled>Select one option</option>
              <option>Excel</option>
              <option>Csv</option>
              <option>Pdf</option>
            </select>
        </div>
      </div>
      <div class="col-md-4" >
        <button class="btn btn-success" style="margin-top: 7%">Submit</button>
      </div>

</div> -->
