.anychart-credits-text{
    display: none;
}

.resizable-widget{
    min-width:654px !important;
    font-size: 1em !important;
}
/* .dropdown-chart{
    background-color: #1b2137!important;
    color: #fff !important;
} */
.btn-block{
    display: block;
    width: 100%;
    position: relative;
    top: 14px;
}
.table_item_num{width:20%;float:left;}
.plist{
    width: 267px;
    position: absolute;
    left: -82px;
    top: -20px;
}
.vasset{
    position: relative;
    left: 232px;
    width: 225px;
    top: -21px;
    text-align: justify;
    pointer-events: none;
    font-size: 14px;
}
button.dropdown-chart.btn.btn-ex-sm.dropdown-toggle.btn-block.text-left.select-coin-dropdown-toggle.dropdown-toggle {
    margin: -10px 0 0 96px;
   width: 110px;
   height: 35px;
   }