<div [ngResizable]="data.resize" class="rounded h-100" id="chartHolder">
  <div>
    <div class="row no-gutters coin-selector">
      <div class="col-12 col-sm-12 col-md-5">
        <div ngbDropdown class="">
          <!-- <button ngbDropdownToggle type="button" class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black text-left select-coin-dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{selectedCryptoCurrencySymbol}}" class="mr-3" width="24" height="24" alt="">{{selectedBuyingCryptoCurrencyName
            | uppercase }} - {{selectedSellingCryptoCurrencyName | uppercase }}
          </button> -->
          <div>
            <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
              class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black text-left select-coin-dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.currency_code}} - {{ this.base_currency}}
            </button>
          </div>
          <!-- <div *ngIf="currency_code=='BCC'">
            <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
              class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black text-left select-coin-dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BCH - {{ this.base_currency}}
            </button>
          </div> -->
          <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
            <div class="table coin-select">
              <!-- <th *ngFor="let count of header">

                 <p ><img  src="{{'../../assets/img/currency/'+ count.name+'.svg'}}" width="24" alt="" /></p>
                <p class="namecolor"><img src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="22" alt="" />
                  {{count}}</p>
              </th>
              <ul >

                <li *ngFor="let item of assets" >
                  <a *ngIf="item.baseCurrency=='USD'">{{item.currencyCode}}/{{item.baseCurrency}}</a>
                  <a *ngIf="item.baseCurrency=='BTC'">{{item.currencyCode}}/{{item.baseCurrency}}</a>
                   <a *ngIf="item.baseCurrency!='BTC'||item.baseCurrency!='USD'||item.baseCurrency!='ETH'">{{item.currencyCode}}/{{item.baseCurrency}}</a>  -->
              <!-- </li>
              </ul> -->
              <table style="width:100%;">
                <tr>
                  <th *ngFor="let count of header" >
                      <img  src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
                  </th>

                </tr>
                <!-- <p style="width:25%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='USD'" (click)="buySellCode(item)">
                          <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

                        </td>
                      </tr>
                </p> -->
                <p style="width:50%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
                            <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

                          </td>
                      </tr>
                </p>
                <p style="width:50%;float:left;">
                    <tr *ngFor="let item of assets">
                        <td  *ngIf="item.baseCurrency=='ETH'" (click)="buySellCode(item)">
                            <a><img  src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24" alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

                          </td>
                      </tr>
                </p>

              </table>
            </div>
          </div>

      <div class="col-12 col-sm-12 col-md-12 font-sm text-green" *ngIf="tools"
        style="border: 0px solid red; height:30px;">
        <div *ngIf="selectedBuyingAssetText !='BCC'">
          <span class="float-left mt-2 plist" style="font-size:13px;">1 {{selectedBuyingAssetText | uppercase}} = {{cur}}
            <span style="color:red;" else style="color:rgb(4, 146, 28);">
              <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
            </span>
            <small class="font-sm ml-3" style="font-size: 13px;"><i class="fa fa-arrow-up text-green"></i>
              {{highprice}} <i class="fa fa-arrow-down text-red"></i><span style="color:red">&nbsp;{{lowprice}}</span>
            </small></span>
        </div>

        <div *ngIf="selectedBuyingAssetText =='BCC'">
          <span class="float-left mt-2 pl-2 plist" style="font-size:13px;">1 BCH = {{cur}}
            <span style="color:red;" else style="color:rgb(4, 146, 28);">
              <ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
            </span>
            <small class="font-sm ml-3" style="font-size: 13px;"><i class="fa fa-arrow-up text-green"></i>
              {{highprice}} <i class="fa fa-arrow-down text-red"></i><span style="color:red">&nbsp;{{lowprice}}</span>
            </small></span>
        </div>
        <p style="line-height: 33px;border: 0px solid blue" class="vasset">
          <span style="margin-left: 2%" style="font-size: 13px;">&nbsp; ROC % :</span>

          <small class="font-sm ml-2" *ngIf="rocreact == true"
            style="color:rgb(4, 146, 28); font-size: 13px;">{{rocdata}}</small>
          <small class="font-sm ml-2" *ngIf="negetive  == true" style="color:red; font-size: 13px;">{{rocdata}}</small>

          <!-- <small class="font-sm ml-2"   style="font-size: 13px;"  *ngIf="rocreact" style="color:red;" else style="color:rgb(4, 146, 28);" >{{rocdata}}</small> -->
          <span style="margin-left: 2%" style="font-size: 13px;">&nbsp;&nbsp;&nbsp;24H Volume:</span>
          <small class="font-sm ml-2" style="font-size: 13px;">&nbsp;{{volumndata}}</small>
        </p>
      </div>
    </div>
    <div class="w-100 mb-2"></div>
    <!-- <div class="float-sm-right btn-group btn-group-sm" role="group" aria-label="transaction-history">
    </div>
    <div id="chart-container" #chartContainer style="height: 360px;">
      <p class="loader" *ngIf="loader">
        <img src="./assets/svg-loaders/bars.svg" alt="" width="50">
      </p>
      <p *ngIf="errorText" class="loader">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{errorText}}
      </p>
      <iframe id="myIframe" [src]="url | safe" width="100%" height="100%" frameborder="0"
        *ngIf="!loader&&!errorText"></iframe>
    </div> -->
  </div>
</div>
<!-- </div>graph section end -->