<div class="container">
  <div class="card card-login mx-auto mt-3">
      <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
        <!-- <img src="./assets/img/bitrump-trimmed-logo.png" alt=""> -->
        <span><i class="fa fa-btc"></i></span>iosphere
      </div>
        <div class="card-header text-center text-blue p-0">
          <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">BIOSPHERE PRO SECURE-TOKEN</h5>
        </div>

      <div class="card-body p-3">
        <div class="form-group">
          <label for="forgotpasswordInputPassword">Email</label>
          <input class="form-control" id="forgotpasswordInputPassword" [(ngModel)]="email" type="email" placeholder="Email" required>
        </div>

        <button class="btn btn-primary btn-block" (click)="secureToken(true)">Get Secure Token</button>
            <!-- <p [hidden]="!error" class="text-danger my-3">Email address or Password Invalid</p> -->

      <div class="d-flex mt-2">
        <div class="mt-3 text-center mr-auto"><a routerLink="/signup">Create an Account</a></div>
        <div class="mt-3 text-center"><a routerLink="/login">Back To Sign In</a></div>
      </div>
    </div>
  </div>
</div>