<div class="container" style="margin-top: -25px;">
  <div class="card card-login mx-auto mt-3">
    <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
      <!-- <img src="{{data.logo}}" alt=""> -->
      <span><i class="fa fa-btc"></i></span>iosphere
    </div>
    <div class="card-header text-center text-blue p-0">
      <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}}
        SIGNUP</h5>
    </div>
    <div class="card-body p-3">
      <!-- new -->
      <ngb-tabset justify="fill" activeId="tab2">
        <!-- <ngb-tab id="tab1">
          <ng-template ngbTabTitle>
            <h5 (click)="basic()">BASIC</h5>
          </ng-template>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab> -->
        <ngb-tab id="tab2">
          <ng-template ngbTabTitle>
            <h5>BIOSPHERE PRO</h5>
          </ng-template>
          <ng-template ngbTabContent>
            <form name="form" #f="ngForm" (ngSubmit)="f.valid && signupData(true)">

              <div class="form-group">
                <label for="signupInputfName">Name</label><span class="required">*</span>
                <input class="form-control validate" name="fullName" id="signupInputfName" tabindex="1"
                  [(ngModel)]="signupObj.fullName" type="text" placeholder="" pattern="[A-Za-z\s]{3,40}" required
                  #fullName="ngModel" [class.is-invalid]="fullName.dirty&&fullName.invalid">
                <span class="text-danger" *ngIf="fullName.dirty&&fullName.invalid">Enter a valid name</span>
              </div>

              <div class="form-group">
                <label for="signupInputEmail">Email</label><span class="required">*</span>
                <input class="form-control validate" [class.is-invalid]="email.dirty && email.invalid" name="email"
                  id="signupInputEmail" [(ngModel)]="signupObj.email" placeholder="{{signupObj.email}}"
                  (blur)="checkEmail()" appForbiddenName="bob" required #email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <span class="text-danger" *ngIf="email.dirty && email.invalid">Enter a valid email</span>
              </div>
              <div class="form-group">
                <label for="signupInputAddress">Address</label><span class="required">*</span>
                <input class="form-control validate" id="signupInputAddress" [(ngModel)]="signupObj.address" type="text"
                  placeholder="" name="address" pattern="[A-Za-z0-9\s\.\,\-]{3,100}" #add="ngModel"
                  [class.is-invalid]="add.dirty&&add.invalid" required>
                <span class="text-danger" *ngIf="add.dirty&&add.invalid">Enter a valid address</span>
              </div>

              <div class="form-group">
                <label for="signupInputPincode">ZIP Code</label><span class="required">*</span>
                <input class="form-control validate" name="pincode" id="signupInputPincode" [(ngModel)]="signupObj.zip"
                  type="text" placeholder="" pattern="[0-9A-za-z\s\-]{3,10}" required #zip="ngModel"
                  [class.is-invalid]="zip.dirty&&zip.invalid">
                <span class="text-danger" *ngIf="zip.dirty&&zip.invalid">Enter a valid zip code</span>
              </div>
              <div class="form-group">
                <label for="signupInputCity">City</label><span class="required">*</span>
                <input class="form-control validate" id="signupInputCity" [(ngModel)]="signupObj.city" type="text"
                  placeholder="" required name="city" pattern="[A-Za-z\s]{3,58}" #city="ngModel"
                  [class.is-invalid]="city.dirty&&city.invalid">
                <span class="text-danger" *ngIf="city.dirty&&city.invalid">Enter a valid city name</span>
              </div>
              <div class="form-group">
                <label for="signupInputState">State</label><span class="required">*</span>
                <input class="form-control validate" name="state" id="signupInputState" [(ngModel)]="signupObj.state"
                  type="text" placeholder="" required pattern="[A-Za-z\s]{1,30}" #state="ngModel"
                  [class.is-invalid]="state.dirty&&state.invalid">
                <span class="text-danger" *ngIf="state.dirty&&state.invalid">Enter a valid state name</span>
              </div>

              <div class="form-group">
                <label for="signupInputCountry">Country</label><span class="required">*</span>
                <select class="form-control validate" id="signupInputCountry" name="country"
                  [(ngModel)]="signupObj.country" required #country="ngModel"
                  [class.is-invalid]="country.dirty&&country.invalid">
                  <option value="" selected>Select Country</option>
                  <option value="{{c.code}}" *ngFor="let c of contries">{{c.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="signupInputPhone">Phone Number</label><span class="required">*</span>
                <input class="form-control validate" name="phone" minlength="8" maxlength="15" id="signupInputPhone"
                  [(ngModel)]="signupObj.phone" type="text" placeholder="" (blur)="checkPhone()" required
                  pattern="[0-9]{8,15}" #phone="ngModel" [class.is-invalid]="phone.dirty&&phone.invalid">
                <span class="text-danger" *ngIf="phone.dirty&&phone.invalid">Enter a valid phone number</span>

              </div>
              <div class="form-group">
                <label for="signupInputPassword">Password</label><span class="required">*</span>
                <input class="form-control validate" name="password" id="signupInputPassword" name='password'
                  [(ngModel)]="signupObj.password" type="password" placeholder="" (blur)="checkPassword()"
                  (keyup)="confirmPassword($event)" required
                  pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$@#.!]).{8,20}" #password="ngModel"
                  [class.is-invalid]="password.invalid&&password.dirty">
                  <span toggle="#signupInputPassword" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
                <span class="text-danger" *ngIf="password.dirty&&password.invalid">
                  The password should be of minimum 8 characters and must contain at least one uppercase, one lowercase, number and a special character($@#.!).
                </span>
              </div>
              <div class="form-group">
                <label for="signupInputRetypePassword">Retype Password</label><span class="required">*</span>
                <input class="form-control validate" name="repassword1" id="signupInputRetypePassword" type="password"
                  placeholder="" [(ngModel)]="signupObj.repassword1" (keyup)="confirmPassword($event)" required
                  pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$@#.!]).{8,20}" #repassword1="ngModel"
                  [class.is-invalid]="repassword1.invalid&&repassword1.dirty">
                <span class="confirm_password_text"></span>
              </div>

              <div class="form-group">
                <!-- <re-captcha (resolved)="resolved($event)" siteKey="6Lf9QagUAAAAACyd-QUoV94k6jIRuA7-WHwKEUjN">
                </re-captcha>

                <re-captcha (resolved)="resolved($event)" siteKey="6Ld2kXIUAAAAAE3sQKJ-JtsJdp1lwPhMwPHcA3Cj"></re-captcha> -->
              </div>

              <button class="btn btn-primary btn-block text-black" id="submit_btn"
                [disabled]="f.form.invalid">Submit</button>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
          <div class="row mt-2">
        <div class="col-12 mt-3 text-center">By registering you are agreeing to the <a target="_blank"
            href="https://www.paybito.com/terms-of-use">terms
            of use</a></div>
        <div class="col-12 text-center"><a routerLink="/login">Already a member?</a></div>
      </div>
    </div>
  </div>
</div>