<app-navbar></app-navbar>

<app-loader></app-loader>

<div class="content-wrapper pt-0">
  <div class="container-fluid">
    <!-- button toggle -->
    <div class="row my-1">
      <div class="col">
        <button type="button" class="btn btn-info btn-sm {{chart?'active':''}}" (click)="chart=!chart">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span class="btntitle">Chart</span>
        </button>
        <button type="button" class="btn btn-info btn-sm {{orderbook?'active':''}}" (click)="orderbook=!orderbook">
          <i class="fa fa-list" aria-hidden="true"></i>
          <span class="btntitle">Order Book</span>
        </button>
        <button type="button" class="btn btn-info btn-sm {{trade?'active':''}}" (click)="trade=!trade">
          <i class="fa fa-history" aria-hidden="true"></i>
          <span class="btntitle">Reports</span>
        </button>
        <button type="button" class="btn btn-info btn-sm {{stoploss?'active':''}}" (click)="stoploss=!stoploss">
          <i class="fa fa-usd" aria-hidden="true"></i>
          <span class="btntitle">Trade</span>
        </button>
      </div>
      <div class=""><app-chart></app-chart></div>
      <div class="col text-right">
        <button class="btn btn-primary btn-sm widget screen-col" id="night" style="display:none"
          (click)="changebg(false)"><img src="../../assets/Moon_emoji_icon_png_grande.png" width="20"
            alt="Snow"></button>
        <button class="btn btn-primary btn-sm widget screen-col" id="light" style="display:block"
          (click)="changebg(true)"><img src="../../assets/sun_PNG13426.png" width="20" alt="Snow"></button>

        <button type="button" class="btn btn-primary btn-sm widget" [class.active]="drag" (click)="drag=!drag"
          placement="bottom" ngbTooltip="Enable draggable feature">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          <span class="btntitle">Drag</span>
        </button>
        <button type="button" class="btn btn-primary btn-sm widget" [class.active]="data.resize"
          (click)="data.resize=!data.resize" placement="bottom" ngbTooltip="Enable resizable feature">
          <i class="fa fa-expand" aria-hidden="true"></i>
          <span class="btntitle">Resize</span>
        </button>
        <!-- <button type="button" class="sun" id ="sun" [class.active]="sun" (click)="sun" placement="bottom" ngbTooltip="Light Mode">
    </button>
    <button type="button" class="moon" [class.active]="moon" id ="moon" (click)="moon" placement="bottom" ngbTooltip="Night Mode">
    </button> -->
      </div>
    </div>

    <div class="row d-flex">
      <!-- <div class="col-md-7 col-lg-6"> -->
      <div class="col-md-7 ">
        <div class="row">

          <!-- <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 mt-1 align-self-stretch" [class.drg]="drag"
            [ngDraggable]="drag" *ngIf="chart">
            <app-chart></app-chart>
          </div> -->
          <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 mt-1 align-self-stretch" [class.drg]="drag"
            [ngDraggable]="drag" *ngIf="chart">
            <app-tv-chart-container></app-tv-chart-container>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 mt-3" [class.drg]="drag" [ngDraggable]="drag" *ngIf="trade">
            <app-trades></app-trades>
          </div>
        </div>

      </div>

      <div class="col-md-5">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12 mt-1" [class.drg]="drag" [ngDraggable]="drag" *ngIf="orderbook">
            <app-order-book></app-order-book>
          </div>
        </div>

        <div class="row">

          <div class="col-xl-12 col-lg-12 col-12 mt-3" [class.drg]="drag" id="stp" [ngDraggable]="drag"
            *ngIf="stoploss">
            <app-stop-loss></app-stop-loss>
          </div>
        </div>

      </div>


      <!-- </div>
        <div class="row d-flex"> -->


    </div>
  </div>
</div>