.drg{
    cursor: move;
}
.drg:active{
    z-index:9;
}
.btn{
    margin:2px;
    /* background: transparent; */
}

.bt.active{
    background: initial;
}

.btntitle{
    margin-left: 5px;
}

@media screen and (max-width: 720px) {
    .btntitle{
        display: none;
    }
}
.night{
    background: black;
    }
    .day{
        background: rgb(227, 238, 230);
    }

    /* .content-wrapper {
        overflow-x: hidden;
        background: #0e9292;
    } */
    .screen-col{
        float: right;
    }
