<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <link id="moon" href="../src/styles.css" rel="stylesheet" > -->
  <title>Biosphere</title>
  <base href="/index.html">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="/assets/datafeeds/udf/dist/polyfills.js"></script>
  <script src="/assets/datafeeds/udf/dist/bundle.js"></script>
  <!-- <link rel="icon" type="image/x-icon" href="./assets/img/favicon-32x32.png"> -->
</head>
<body class="fixed-nav navbar-dark" id="page-top" data-ng-app="main" data-ng-controller="tradeCtrl" data-ng-init="tradePageSetup()" data-ng-mouseover="activeUser()" data-ng-click="activeUser()" >
  <app-root></app-root>
</body>

</html>
